@import 'root.css';

main
{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}

.login-window
{
    background-color: var(--primary-bright-color);
    padding: 2vh;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;   
}

.item
{
    text-align: center;
    margin: 3%;
    width: 100%;
    color: #2F2F36;
}