.account-page svg *
{
    color: var(--primary-bright-color)
}

.account-page h2
{
    color: var(--primary-bright-color);
}

.account-panel
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1ch;
    margin-bottom: 2vh;
    padding-left: 1ch;
    padding-right: 1ch;
    width: 50%;
    overflow: scroll;
}

.delete-account-button:hover
{
    background-color: var(--red);
}