.add-category-button
{
    width: 10vw;
    
    align-items: center;
    justify-content: center;

    padding: 5px;
    margin: 5px;
    border: 1px solid var(--contrast);
    border-radius: 5px;
}

.add-category-button p
{
    text-align: center;
    color: var(--contrast);
}