.add-category-button-enter-active,
.add-category-button-exit,
.add-category-button
{
    width: max(10vw, 10vh);
    min-width: max(10vw, 10vh);
    height: max(2vw, 2vh);
    
    display: flex;
    align-items: center;
    justify-content: center;

    outline: 1px solid var(--contrast);
    border-radius: 5px;
    border-color: var(--contrast);
    box-sizing: border-box;

    transition: var(--transition-time);
    overflow: hidden;
    cursor: pointer;
}

.add-category-button svg
{
    height: 2ch;
    width: 2ch;
}

.add-category-button svg *
{
    color: var(--contrast);
    transition: var(--transition-time);
}

.add-category-button-enter,
.add-category-button-exit-active
{
    height: 0;
    outline-color: var(--primary-dark-color);
    box-sizing: border-box;
    transition: var(--transition-time);
}

.add-category-button-enter svg *,
.add-category-button-exit-active svg *
{
    opacity: 0;
}

.add-category-button:hover
{
    background-color: var(--contrast);
}

.add-category-button:hover svg *
{
    color: var(--primary-dark-color)
}