.add-link-button
{
    height: 9vh;
    width: 2vw;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: calc(var(--link-list-gap) / 2);

    border: 1px solid var(--contrast);
    border-radius: 5px;

    transition: var(--transition-time);
    overflow: hidden;
    cursor: pointer;
}

.add-link-button svg
{
    height: 2ch;
    width: 2ch;
}

.add-link-button.hided
{
    width: 0;
    border-color: var(--primary-dark-color);
    cursor: default;
}

.add-link-button svg *
{
    color: var(--contrast);
}

.add-link-button.minimized
{
    height: 0;
    padding: 0;
    cursor: default;
}

.add-link-button.minimized svg *
{
    opacity: 0%;
    cursor: default;
}

.add-link-button:hover
{
    background-color: var(--contrast);
}

.add-link-button:hover svg *
{
    color: var(--primary-dark-color)
}