.add-link-button
{
    margin-left: calc(var(--link-list-gap) / 2);
    border: 1px solid var(--contrast);
}

.empty .add-link-button
{
    min-width: max(10vw, 10vh);
    width: max(10vw, 10vh);
    margin: 0;
    transform: translateX(calc(-1 * var(--link-list-gap) / 2 + 1px));
}

.editing .empty .add-link-button
{
    margin-left: calc(var(--link-list-gap) / 2);
}

.add-link-button svg *
{
    color: var(--contrast);
}

.add-link-button:hover
{
    background-color: var(--contrast);
}