.category
{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1vh;
    width: 100%;
}

.category-head
{
    color: var(--primary-bright-color);
    padding: 5px;
}

input.category-head
{
    background-color: var(--primary-dark-color);
    color: var(--primary-bright-color);
    border: none;
    outline: none;
    font-size: 1em;
}

input.category-head:focus
{
    border: none;
}

.link-list
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--link-list-gap);
    list-style: none;

    transform: translateX(calc(var(--link-list-gap) / 2 + 1px));  /* very bad */
}