.category
{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    margin-top: var(--link-list-gap);

    max-height: calc(var(--link-block-height) + var(--link-list-gap) + 1em + 15px);
    overflow: hidden;
    transition: var(--transition-time);
}

.category-head
{
    color: var(--primary-bright-color);
    padding: 5px;
    width: 40%;
}

.category-head.no-text
{
    color: var(--secondary-dark);
}

input.category-head
{
    background-color: var(--primary-dark-color);
    color: var(--primary-bright-color);
    border: none;
    outline: none;
    font-size: 1em;
}

input.category-head:focus
{
    border: none;
}

.link-list
{
    padding-top: var(--link-list-gap);
    max-width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    transition: var(--transition-time);

    overflow-x: scroll;
}

.editing .link-list,
.empty .link-list
{
    transform: none;
}

.category.unmounted
{
    max-height: 0;
    margin-top: 0;
    transition: var(--transition-time);
}

.category.unmounted *
{
    opacity: 0;
    transition: var(--transition-time);
}

.category.space-up
{
    padding-top: calc(var(--link-block-height) + var(--link-list-gap) * 2 + 1em + 15px);
}

.category.space-down
{
    padding-bottom: calc(var(--link-block-height) + var(--link-list-gap) * 2 + 1em + 15px);
}

.category.dragging
{
    opacity: 40%;
}

.category.dragged
{
    padding-top: 0;
    padding-bottom: 0;
    transition: 0s;
}