.category
{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.category-head
{
    color: var(--primary-bright-color);
    padding: 5px;
    width: 50%;
}

.category-head.no-text
{
    color: var(--secondary-dark);
}

input.category-head
{
    background-color: var(--primary-dark-color);
    color: var(--primary-bright-color);
    border: none;
    outline: none;
    font-size: 1em;
}

input.category-head:focus
{
    border: none;
}

.link-list
{
    padding-top: var(--link-list-gap);
    max-width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    transition: var(--transition-time);

    overflow-x: scroll;
    
    transform: translateX(calc(var(--link-list-gap) / 2 - 1px));  /* very bad */
}

.editing .link-list,
.empty .link-list
{
    transform: none;
}