@import 'root.css';

*
{
    padding: 0px;
    margin: 0px;
    font-family: "Montseratt", sans-serif;
    color: var(--primary-dark-color);
}

::selection
{
    background-color: var(--secondary-bright);
}

body
{
    background-color: var(--primary-dark-color);
}

div
{
    cursor: default;
    user-select: none;
}

input,
button
{
    background-color: var(--primary-bright-color);
    color: var(--primary-dark-color);
    border: 1px solid var(--primary-dark-color);
    border-radius: 50svh;   
    padding-right: 1ch;
    padding-left: 1ch;
    transition: var(--transition-time);
}

button
{
    cursor: pointer;
}

button:hover
{
    background-color: var(--secondary-bright);
}