@import 'root.css';

*
{
    padding: 0px;
    margin: 0px;
    font-family: "Montseratt", sans-serif;
    color: var(--primary-dark-color);
}

::selection
{
    background-color: var(--secondary-bright);
}

::placeholder
{
    color: var(--secondary-dark);
}

body
{
    background-color: var(--primary-dark-color);
}

div
{
    cursor: default;
    user-select: none;
}

input
{
    text-align: center;
}

h1, h2, h3
{
    font-weight: normal;
    transition: var(--transition-time);
    color: var(--primary-bright-color)
}

.no-animation *
{
    transition: 0s !important;
}