
header
{
    background-color: var(--primary-dark-color);
    color: var(--primary-bright-color);

    height: 5vh;
    padding: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    display: flex;
    flex-direction: row;
    gap: 2%;
    justify-content: right;
    align-items: center;
}

header *
{
    transition: var(--transition-time);
    z-index: 1;
}

.blank
{
    background-color: var(--primary-bright-color);

    position: fixed;
    top: -7vh;
    left: 0;
    right: 0;
    height: 7vh;
    z-index: 0;

    text-align: center;
    font-size: 16pt;
}

.appname
{
    color: var(--primary-bright-color);
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 16pt;
}

header:hover *
{
    color: var(--primary-dark-color)
}

header:hover .blank
{
    transform: translateY(7vh);
}

.icon-button
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.icon-button:hover
{
    background-color: var(--secondary-bright);
}

header svg *
{
    margin: 0;
    color: var(--primary-bright-color);
    background-color: var(--secondary-bright);
}