@import 'root.css';

.home
{
    justify-content: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

.category-list
{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 100%;
}

.category
{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 100%;
}

.category-head
{
    color: var(--primary-bright-color);
    padding: 5px;
    border: 1px var(--primary-bright-color) solid;
    border-radius: 5px;

    transition: var(--transition-time);
}

.category.minimized .category-head
{
    border-color: var(--primary-dark-color);
}

.link-list
{
    display: flex;
    flex-direction: row;
    gap: 1vh;
    list-style: none;
}