@import 'root.css';

.home
{
    justify-content: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

.category-list
{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
    width: 100%;
}