@import 'root.css';

.home
{
    justify-content: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

.category-list
{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 100%;
}

.category
{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1vh;
    width: 100%;
}

.category-head
{
    color: var(--primary-bright-color);
    padding: 5px;

}

.link-list
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vh;
    list-style: none;
}