@import 'root.css';

.link-block-exit,
.link-block
{
    width: max(10vw, 10vh);
    min-width: max(10vw, 10vh);
    max-width: max(10vw, 10vh);
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: var(--primary-bright-color);
    border: 1px var(--primary-bright-color) solid;
    border-radius: 5px;
    margin-left: calc(var(--link-list-gap) / 2);
    margin-right: calc(var(--link-list-gap) / 2);

    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: var(--primary-dark-color);

    transition: var(--transition-time);
    max-height: 7vh;
    height: 7vh;
}

.unmounted,
.link-block-exit-active
{
    max-width: 0;
    min-width: 0;
    margin: 0;
}

.unmounted .url-img,
.link-block-exit-active .url-img
{
    max-width: 0;
}

.unmounted input,
.link-block-exit-active input
{
    opacity: 0;
}

.link-block *
{
    cursor: pointer;
    transition: var(--transition-time);
}

.top-element-container
{
    display: flex;
    height: 3vh;
    width: 80%;
    justify-content: center;
    cursor: default;
}

.top-element-container *
{
    transition: calc(var(--transition-time) / 2);
}

.link-block .url-img-exit,
.link-block .url-img-enter-active,
.link-block .url-img
{
    height: 3vh;
    width: 3vh;
}

.link-block input
{
    background-color: var(--primary-bright-color);
    color: var(--primary-dark-color);
    border: none;
    font-size: 1em;
    cursor: text;
    outline: none;
}

.link-block .link-name
{
    white-space: nowrap;
    width: 80%;
    overflow: hidden;
    display: inline;
}

.link-block .url-input-exit,
.link-block .url-input-enter-active,
.link-block .url-input
{
    height: 3vh;

    border: 1px solid var(--secondary-bright);
    border-radius: 5px;

    padding-left: 1ch;
    padding-right: 1ch;
    max-width: 100%;

    box-sizing: border-box;
}

.minimized .link-block
{
    cursor: default;
    max-height: 0;
    gap: 0;
    padding: 0;
}

.minimized .link-block *
{
    opacity: 0%;
    overflow: hidden;
}

.editing .link-block
{
    cursor: inherit;
}

.link-block .url-input-exit-active,
.link-block .url-input-enter
{
    border-color: var(--primary-bright-color);
    max-width: 0;
    padding: 0;
}

.link-block .url-img-exit-active,
.link-block .url-img-enter
{
    width: 0;
}

.delete-link-button
{
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(45%, -45%);

    width: calc(var(--link-list-gap) * 3 / 2);
    height: calc(var(--link-list-gap) * 3 / 2);
    padding: calc(var(--link-list-gap) / 4);

    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;

    background-color: var(--red);
    border-radius: 50svh;

    transition: var(--transition-time);
    cursor: pointer;
}


.unmounted .delete-link-button,
.link-block-exit-active .delete-link-button,
.delete-link-button.hidden
{
    width: 0;
    height: 0;
    padding: 0;
}