@import 'root.css';

main
{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}

.invalid .login-button,
.invalid .login-button:hover
{
    background-color: var(--red);
}