@import 'root.css';

form.closed
{
    cursor: pointer;
}

.register-container
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    width: 100%;
    height: calc((2ch + 0.95em + 2vh) * 4 + 2vh);

    transition: var(--transition-time);
}

.register-container.invalid 
{
    height: calc((2ch + 0.95em + 2vh) * 4 + 2vh + (0.8em + 2vh));
}

.separating-line.start
{
    position: absolute;
    top: 0;
}

.separating-line.end
{
    position: absolute;
    bottom: 0;
}

.closed .register-container
{
    height: 2px;
    cursor: pointer;
}

.closed .register-container *
{
    cursor: pointer;
}

.register-container .form-item
{
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.invalid-string
{
    color: var(--red);
    font-size: 0.8em;
    height: 0.8em;
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
    opacity: 0;
    transition: var(--transition-time);
}

.invalid-string.appeared
{
    opacity: 1;
    height: 1em;
    margin-top: 1vh;
    margin-bottom: 1vh;
    transition: var(--transition-time);
}

.invalid .register-button:hover
{
    background-color: var(--red);
}

button.disabled
{
    background-color: var(--secondary-dark);
    cursor: default;
}

button.disabled:hover
{
    background-color: var(--secondary-dark);
}