:root
{
    --primary-dark-color: #3D3D40;
    --secondary-dark: #71717B;
    --primary-bright-color: #E1E1EA;
    --secondary-bright: #C9C9D7;
    --red: #FD6452;
    --contrast: #ABABF6;
    
    --transition-time: 0.5s;

    --link-list-gap: 1vh
}