name: Client Deploy
on: 
  push:
    paths:
      - 'client/**'

jobs:
  build-and-push-client-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: docker-compose build client

      - name: Push Docker Image
        run: docker-compose push client
  
  deploy-client-image:
    needs: build-and-push-client-image
    runs-on: ubuntu-latest
    steps:
    - name: SSH connection
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.SERVER_USER }}
        password: ${{ secrets.SERVER_PASSWORD }}
        port: 22
        script: |
          cd app/WebManager
          docker-compose stop wm-client
          docker rm -f wm-client || true
          docker rmi -f alwaysmeow/webmanager-client || true
          git pull origin prod
          docker pull alwaysmeow/webmanager-client:latest
          docker-compose up -d